@model ACCDataStore.Web.Areas.DatahubProfile.ViewModels.Datahub.DatahubViewModel
@section Header {
    @*<link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/datahubprofile/views/Indexdatahub/IndexdatahubProfile.js"></script>
    @*<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>*@
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="container">

            <!-- Content Row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Select Criteria</h3>
                </div>
                <div class="panel-body">
@using (Html.BeginForm("index", "IndexDatahub", new { area = "DatahubProfile" }))
{
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td width="40%">School</td>
                                            <td>@Html.DropDownListFor(m => m.selectedschoolcode, new SelectList(Model.ListSchoolNameData, "seedcode", "name"), "---Please Select School---")</td>
                                            <td width="20%"><input type="submit" class="btn btn-primary" name="schoolsubmitButton" value="Search" /></td>
                                        </tr>
                                        <tr>
                                            <td width="40%">Neighbourhoods</td>
                                            <td>@Html.DropDownListFor(m => m.selectedneighbourhoods, new SelectList(Model.ListNeighbourhoodsName, "seedcode", "name"), "---Please Select Neighbourhoods---")</td>
                                            <td width="20%"><input type="submit" class="btn btn-primary"  name="neighbourhoodssubmitButton" value="Search" /></td>
                                        </tr>
                                    </tbody>
                                </table>
}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Search pupils by Name</h3>
                </div>
                <div class="panel-body">
@using (Html.BeginForm("SearchpupilbyName", "IndexDatahub", new { area = "DatahubProfile" }))
{
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td width="30%">Forname</td>
                            @*<td><input type="text" name="forename"></td>*@
                            <td><input name="forename" type="text" tabindex="1" placeholder="Forename"></td>
                            @*<td width="20%"><input type="submit" name="schoolsubmitButton" value="Search" /></td>*@
                            <td width="20%"></td>
                        </tr>
                        <tr>
                            <td width="30%">Surname</td>
                            @*<td><input type="text" name="surname"></td>*@
                            <td><input name="surname"  type="text" tabindex="1" placeholder="Surname"></td>
                            <td width="20%"><input disabled type="submit" name="searchsubmitButton" class="btn btn-primary" value="Search" /></td>
                        </tr>
                    </tbody>
                </table>
}
                </div>
            </div>
        </div>
    </div>
   

@if (Model.SchoolData != null && Model.selectedschool != null && !Model.selectedschool.seedcode.Equals("100"))
{
<!-- /.row -->
        <!-- Content Row -->
        <!--Opportunities for All Clients table-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"> Opportunities for All Clients</h4>
                    </div>
                    <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th class="text-center" width="30%"></th>
                                    <th class="text-center" width="10%">Pupils</th>
                                    <th class="text-center" width="25%">%</th>
                                    <th class="text-center" width="25%">% for All Clients</th>
                                    <th class="text-center" width="10%">Pupils</th>
                                </tr>
                                <tr>
                                    <td class="text-left">All Clients </td>
                                    <td class="text-center">
                                        <input enabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.allpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby , code = @Model.searchcode, dataname = "AllClients" })'" />
                                    </td>
                                    <td class="text-center">@Model.SchoolData.FormatNumber(Model.SchoolData.allpupils)</td>
                                    <td class="text-center">@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allpupils)</td>
                                    <td class="text-center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "AllClients" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Males</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.allMalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby , code = @Model.searchcode, dataname = "Males" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.allMalepupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.allMalepupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allMalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Males" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Females</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.allFemalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby , code = @Model.searchcode, dataname = "Females" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.allFemalepupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.allFemalepupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allFemalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Females" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Pupils 16</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.all16pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "Pupils16" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.all16pupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all16pupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all16pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils16" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Pupils 17</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.all17pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "Pupils17" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.all17pupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all17pupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all17pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils17" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Pupils 18</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.all18pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "Pupils18" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.all18pupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all18pupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all18pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils18" })'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Pupils 19</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.all19pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "Pupils19" })'" />
                                    </td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.all19pupils))</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all19pupils))</td>
                                    <td align="center">
                                        <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all19pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils19" })'" />
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>

    <!-- Content Row -->
    <!--Destination-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align: center"> Current Positive Destinations</h4>
                </div>
                    <div class="panel-body">
                                <div class="col-md-6">
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Pupils</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">% for All Clients</th>
                                            <th class="text-center">Pupils</th>
                                        </tr>
                                        <tr>
                                            <td class="text-left">School Pupils</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.schoolpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "schoolpupils" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.schoolpupils))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupils))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupils" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">School Pupils In Trainsition</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.schoolpupilsintransition)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "schoolpupilsintransition" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.schoolpupilsintransition))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupilsintransition))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupilsintransition)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupilsintransition" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Moved Outwith Scotland</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.schoolpupilsmovedoutinscotland)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "schoolpupilsmovedoutinscotland" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.schoolpupilsmovedoutinscotland))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupilsmovedoutinscotland))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupilsmovedoutinscotland)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupilsmovedoutinscotland" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Activity Agreement</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinAtivityAgreement)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinAtivityAgreement" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinAtivityAgreement))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinAtivityAgreement))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinAtivityAgreement)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinAtivityAgreement" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Employability Fund Stage 2</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinEmployFundSt2)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinEmployFundSt2" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinEmployFundSt2))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt2))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt2)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt2" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Employability Fund Stage 3</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinEmployFundSt3)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinEmployFundSt3" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinEmployFundSt3))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt3))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt3)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt3" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Employability Fund Stage 4</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinEmployFundSt4)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinEmployFundSt4" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinEmployFundSt4))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt4))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt4)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt4" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Full Time Employment</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinFullTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinFullTimeEmployed" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinFullTimeEmployed))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinFullTimeEmployed))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinFullTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinFullTimeEmployed" })'" />
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Pupils</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">% for All Clients</th>
                                            <th class="text-center">Pupils</th>
                                        </tr>

                                        <tr>
                                            <td class="text-left">Further Education</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinFurtherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinFurtherEdu" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinFurtherEdu))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinFurtherEdu))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinFurtherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinFurtherEdu" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Higher Education</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinHigherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinHigherEdu" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinHigherEdu))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinHigherEdu))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinHigherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinHigherEdu" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Modern Apprenticeship</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinModernApprenship)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinModernApprenship" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinModernApprenship))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinModernApprenship))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinModernApprenship)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinModernApprenship" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Part Time Employment</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinPartTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinPartTimeEmployed" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinPartTimeEmployed))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinPartTimeEmployed))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinPartTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinPartTimeEmployed" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Personal/ Skills Development</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinPersonalSkillDevelopment)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinPersonalSkillDevelopment" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinPersonalSkillDevelopment))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinPersonalSkillDevelopment))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinPersonalSkillDevelopment)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinPersonalSkillDevelopment" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Self-Employed</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinSelfEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinSelfEmployed" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinSelfEmployed))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinSelfEmployed))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinSelfEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinSelfEmployed" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Training (Non NTP)</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinTraining)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinTraining" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinTraining))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinTraining))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinTraining)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinTraining" })'" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Voluntary Work</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.pupilsinVolunteerWork" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinVolunteerWork" })'" />
                                            </td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinVolunteerWork))</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinVolunteerWork))</td>
                                            <td align="center">
                                                <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinVolunteerWork)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinVolunteerWork" })'" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                    </div>
            </div>
        </div>
        </div>
         <!--Content Row-->
        <!--Non Positive destination-->
        <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Non Positive Destinations</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th ></th>
                                <th >Pupils</th>
                                <th >% </th>
                                <th >% for All Clients</th>
                                <th >Pupils</th>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-left">Average Weeks Since Last Positive Destination</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.AvgWeekssinceLastPositiveDestination)</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.AvgWeekssinceLastPositiveDestination)</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Custody</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinCustody)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinCustody" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinCustody))</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinCustody))</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinCustody)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinCustody" })'" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">Economically Inactive</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinEconomically)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinEconomically" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinEconomically))</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEconomically))</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEconomically)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEconomically" })'" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th ></th>
                                <th >Pupils</th>
                                <th >% </th>
                                <th >% for All Clients</th>
                                <th >Pupils</th>
                            </tr>
                            <tr>
                                <td class="text-left">Unavailable-ill Health</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinUnavailableillHealth)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinUnavailableillHealth" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinUnavailableillHealth))</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnavailableillHealth))</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnavailableillHealth)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnavailableillHealth" })'" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">Unemployed</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinUnemployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinUnemployed" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinUnemployed))</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnemployed))</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnemployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnemployed" })'" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">Unknown</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.SchoolData.FormatNumber(Model.SchoolData.pupilsinUnknown)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = @Model.seachby, code = @Model.searchcode, dataname = "pupilsinUnknown" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(Model.SchoolData.pupilsinUnknown))</td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnknown))</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnknown)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnknown" })'" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
            <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Opportunities for All Clients</h4>
                </div>
                <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th></th>
                                <th class="text-center">Pupils</th>
                                <th class="text-center">% for All Clients</th>
                            </tr>
                            <tr>
                                <td class="text-left">All Clients</td>
                                @*<td colspan="2" align="center">@Model.AberdeencityData.allpupils</td>*@
                                 <td colspan="2" align="center">
                                     <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "allpupils" })'" />
                                 </td>
                            </tr>
                            <tr>
                                <td class="text-left">Males</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allMalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Males" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.allMalepupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Females</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.allFemalepupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Females" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.allFemalepupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Pupils 16</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all16pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils16" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all16pupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Pupils 17</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all17pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils17" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all17pupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Pupils 18</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all18pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils18" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all18pupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Pupils 19</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.all19pupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "Pupils19" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.all19pupils))</td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
                <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Current Positive Destinations</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">Pupils</th>
                                <th class="text-center">% for All Clients</th>
                            </tr>
                            <tr>
                                <td class="text-left">School Pupils</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupils)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupils" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupils))</td>
                            </tr>
                            <tr>
                                <td class="text-left">School Pupils In Trainsition</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupilsintransition)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupilsintransition" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupilsintransition))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Moved Outwith Scotland</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.schoolpupilsmovedoutinscotland)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "schoolpupilsmovedoutinscotland" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.schoolpupilsmovedoutinscotland))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Activity Agreement</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinAtivityAgreement)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinAtivityAgreement" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinAtivityAgreement))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Employability Fund Stage 2</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt2)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt2" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt2))</td>
                            </tr>
                            <tr>
                                <td class="text-left"> Employability Fund Stage 3</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt3)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt3" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt3))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Employability Fund Stage 4</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEmployFundSt4)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEmployFundSt4" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEmployFundSt4))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Full Time Employment</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinFullTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinFullTimeEmployed" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinFullTimeEmployed))</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th></th>
                                <th class="text-center">Pupils</th>
                                <th class="text-center">% for All Clients</th>
                            </tr>
                            <tr>
                                <td class="text-left">Further Education</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinFurtherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinFurtherEdu" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinFurtherEdu))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Higher Education</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinHigherEdu)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinHigherEdu" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinHigherEdu))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Modern Apprenticeship</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinModernApprenship)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinModernApprenship" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinModernApprenship))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Part Time Employment</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinPartTimeEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinPartTimeEmployed" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinPartTimeEmployed))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Personal/ Skills Development</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinPersonalSkillDevelopment)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinPersonalSkillDevelopment" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinPersonalSkillDevelopment))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Self-Employed</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinSelfEmployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinSelfEmployed" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinSelfEmployed))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Training (Non NTP)</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinTraining)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinTraining" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinTraining))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Voluntary Work</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinVolunteerWork)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinVolunteerWork" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinVolunteerWork))</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title text-center"> Non Positive Destinations</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th></th>
                                <th>Pupils</th>
                                <th>% for All Clients</th>
                            </tr>
                            <tr>
                                <td class ="text-left">Average Weeks Since Last Positive Destination</td>
                                <td colspan="2" align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.AvgWeekssinceLastPositiveDestination)</td>
                            </tr>
                            <tr>
                                <td class="text-left">Custody</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinCustody)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinCustody" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinCustody))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Economically Inactive</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinEconomically)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinEconomically" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinEconomically))</td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th></th>
                                <th>Pupils</th>
                                <th>% for All Clients</th>
                            </tr>
                            <tr>
                                <td class="text-left">Unavailable-ill Health</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnavailableillHealth)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnavailableillHealth" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnavailableillHealth))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Unemployed</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnemployed)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnemployed" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnemployed))</td>
                            </tr>
                            <tr>
                                <td class="text-left">Unknown</td>
                                <td align="center">
                                    <input disabled type="button" class="btn btn-info btn-xs disabled" style="width: 50px; height:25px" value="@Model.AberdeencityData.FormatNumber(Model.AberdeencityData.pupilsinUnknown)" onclick="location.href='@Url.Action("GetListpupils", "IndexDatahub", new { searchby = "school", code = "100", dataname = "pupilsinUnknown" })'" />
                                </td>
                                <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(Model.AberdeencityData.pupilsinUnknown))</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
 }

    </div>

</body>
