@section Header {
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="@Url.Action("Index", "Index", new {  Area = "" ,id = "" }, null)">Home</a>
                    </li>
                    <li class="active">About us</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Intro Content -->
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-left text-info">
                    About
                </h1>
                <hr />
                <h2 class="text-info text-left">About Data Observatory</h2>
                <p class="text-justify">
                    A Data Observatory (also known as a Local Information System) is a form of information system built with business intelligence tools, designed with the capability to support statistical data, and the analysis of geospatial data.
                    A Data Observatory also tends to offer common knowledge management functionality for storage and retrieval of unstructured data such as documents.
                    Data Observatory deliver functionality to load, store, analyse and present statistical data that has a strong geographic reference.
                    In most cases the data is structured as indicators and is linked to discrete geographic areas, for example numbers claiming unemployment benefit across wards in Scotland.
                    The ability to present this data using data visualization tools like charts and maps is also a core feature of these systems.
                </p>
            </div>
        </div>
        <!-- Team Members -->
        <div class="row">
            <hr />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-info text-left">Our Team & Internship Students</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="text-left"> I, Hataichanok Saevanee (Jan) am a project leader. In the last 2 years, I have been working with almost 20 internship students from University of Aberdeen and interational internship students from Sweden and Denmark. Students took this data observatory work as part of their summer project and honorary project.</p>
                <p class="text-left"> This increases engagement between ACC with young people and builds team capacity for limited periods to achieve the Data Observatory goals. This saves time and money in software development while providing opportunities for students to develop their skills, expertise and gain experience in real-life environment working.  </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-left text-info"> 2018 - MSc: Information Technology, University of Aberdeen </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-left text-info"> 2017 - MSc: Information Technology, University of Aberdeen </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <video width="500" height="410" controls>
                    <source src="@Url.Content("~/Images/AlphaTEam.m4v")" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

            </div>
            <div class="col-md-6">
                <p class="text-justify">
                    "Team Alpha was a group of Msc in IT students that were working on the ACC Data Observatory web system project. It was 5 of us working on the project and implemented web application that will allow users of Aberdeen Data Observatory to register, login and get access to different data sets of data observatory. Implementation of web system took two months. And we were very happy to work with Janny as a Product Owner under this project. Data Observatory is very interesting project and has great value for Aberdeen City Council and public of Aberdeen. These days every decision making is based on data and data observatory gives decision makers in Aberden City Council and Partners to use realtime data and historic data to take right decisions." - Team Alpha
                </p>
                <img src="@Url.Content("~/Images/TeamAlpha.png")" alt="Team Alpha" style="width:100%;height:100%;">
            </div>
        </div>

        <hr />
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-left text-info"> 2016 - MSc: Information Technology, University of Aberdeen </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content("~/Images/scrum.jpg")" alt="Scrumhub Team" style="width:90%;height:80%;">
            </div>
            <div class="col-md-6 text-center">
                <p class="text-justify">
                    "I enjoyed the team, the environment we worked in and the fact that we were all learning SCRUM through practice. I also enjoyed that the product we were working on could potentially help the people at the council with their business goals." - ScrumHub Team
                </p>
                <img src="@Url.Content("~/Images/scrumhub.jpg")" alt="Scrumhub Team" style="width:90%;height:90%;">

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
                <h3 class="text-left text-info"> Students: </h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                <ul>
                    <li>Alga Abilesh, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>Lachezar Kostov, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>Dimitar Bakardzhiev, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>Samuel Kwakye, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>Real Bakhit, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>Maksim Lilchev, Msc in Information Technology (Summer project 2018), University of Aberdeen</li>
                    <li>
                        Josefin Svedin, Department of Computer and Systems Science (Internship Jan - March 2018), Stockhome University, Sweden
                    </li>
                    <li>
                        Nicholas Alderton, Bsc in Computer Science (Honary project 2018), University of Aberdeen
                    </li>
                    <li>
                        Kanat Kussembayev, Msc in Information Technology (Summer project 2017), University of Aberdeen
                    </li>
                    <li>
                        Taiwo Kehinde Funke, Msc in Information Technology (Summer project 2017), University of Aberdeen
                    </li>
                    <li>
                        Konstantin Milchev, Msc in Information Technology (Summer project 2017), University of Aberdeen
                    </li>
                    <li>
                        Miroslav Stoyanov, Msc in Information Technology (Summer project 2017), University of Aberdeen
                    </li>
                    <li>
                        Thunaiya Yousuf Al-Habsi, Msc in Information Technology (Summer project 2017), University of Aberdeen
                    </li>
                    <li>
                        Patrick Sirich, (Internship 2017), Denmark
                    </li>
                    <li>
                        Mindaugss , Msc in Information Technology (Scrum project 2016), University of Aberdeen
                    </li>
                    <li>
                        Json , Msc in Information Technology (Scrum project 2016), University of Aberdeen
                    </li>
                    <li>
                        lady, Msc in Information Technology (Scrum project 2016), University of Aberdeen
                    </li>

                    <li>
                        Valislav, Bsc in Computer Science (Honary project 2016), University of Aberdeen
                    </li>
                    <li>
                        Donna Marie Connelly, Bsc in Computer Science (Honary project 2016), University of Aberdeen
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>





