@section Header {

}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="@Url.Action("Index", "Index", new {  Area = "" ,id = "" }, null)">Home</a>
                    </li>
                    <li class="active">Finance</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-left text-info">Finance</h1>
                <hr />
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <center>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://melrose:8410/cp/jsp/system/login.jsp" target="_blank">CollaborativePlanning</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://melrose:8410/cp/jsp/system/login.jsp" target="_blank">
                            <img src="@Url.Content("~/Images/AdvancedLogo.png")" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://melrose:8888/forms/frmservlet?config=efin41" target="_blank">eFinancials</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://melrose:8888/forms/frmservlet?config=efin41" target="_blank">
                            <img src="@Url.Content("~/Images/Aberdeen Council Logo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://melrose:8210/eanalyser/" target="_blank">eAnalyser</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://melrose:8210/eanalyser/" target="_blank">
                            <img src="@Url.Content("~/Images/AdvancedLogo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://128.1.112.12:8602/InfoViewApp/logon.jsp " target="_blank">InfoView (BOXI)</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://128.1.112.12:8602/InfoViewApp/logon.jsp " target="_blank">
                            <img src="@Url.Content("~/Images/Aberdeen Council Logo.png")" />
                        </a>
                    </div>
                </div>

            </center>

        </div>
    </div>

</body>





