@section Header {

}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="@Url.Action("Index", "Index", new {  Area = "" ,id = "" }, null)">Home</a>
                    </li>
                    <li class="active">Performance and Information</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-left text-info">Performance and Information</h1>
                <hr />
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <center>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://www.aberdeencity.gov.uk/open_data/statistics.asp" target="_blank">Open Data Statistics</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://www.aberdeencity.gov.uk/open_data/statistics.asp" target="_blank">
                            <img src="@Url.Content("~/Images/Aberdeen Council Logo.png")" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://www.aberdeencity.gov.uk/council_government/performance/aberdeen_performs/abp_aberdeen_performs.asp" target="_blank">Aberdeen Performs</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://www.aberdeencity.gov.uk/council_government/performance/aberdeen_performs/abp_aberdeen_performs.asp" target="_blank">
                            <img src="@Url.Content("~/Images/Aberdeen Council Logo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://www.aberdeencity.gov.uk/tourism_visitor_attractions/tourists_visitors/statistics/stt_Home.asp " target="_blank">Stats and Facts</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://www.aberdeencity.gov.uk/tourism_visitor_attractions/tourists_visitors/statistics/stt_Home.asp " target="_blank">
                            <img src="@Url.Content("~/Images/Aberdeen Council Logo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="https://aberdeencity.covalentcpm.com/login " target="_blank">Covalent Browser<br></a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="https://aberdeencity.covalentcpm.com/login " target="_blank">
                            <img src="@Url.Content("~/Images/PentanaLogo.png")" />
                        </a>
                    </div>
                </div>

            </center>

        </div>
        <!-- /.row -->
        <div class="row">
            <center>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://www.improvementservice.org.uk/" target="_blank">Improvement Service</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://www.improvementservice.org.uk/" target="_blank">
                            <img src="@Url.Content("~/Images/IS-Logo-BIG.png")" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="https://khub.net/home" target="_blank">knowledge Hub</a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="https://khub.net/home" target="_blank">
                            <img src="@Url.Content("~/Images/KnowledgeHubLogo.png")" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="http://www.gov.scot/Topics/Statistics" target="_blank">Scottish Government Statistics </a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="http://www.gov.scot/Topics/Statistics" target="_blank">
                            <img src="@Url.Content("~/Images/Scottish Government Logo.png")" />
                        </a>
                    </div>
                </div>
                @*<div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="category-label">
                        <h3><a href="https://aberdeencity.covalentcpm.com/login " target="_blank">Covalent Browser<br></a></h3>
                    </div>
                    <div class="imagebox">
                        <a href="https://aberdeencity.covalentcpm.com/login " target="_blank">
                            <img src="@Url.Content("~/Images/PentanaLogo.png")" />
                        </a>
                    </div>
                </div>*@

            </center>

        </div>
 
    </div>

</body>





