@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.StudentStage.StudentStageViewModel
@section Header {
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
<script src="~/Scripts/jquery.js"></script>
<!-- Bootstrap Multiselect Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/highcharts.js"></script>
@*<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>*@
<script src="~/Scripts/accdatastore/areas/schoolprofile/views/StudentStage/StudentStage.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

}
@{//Student Stage
    ViewBag.Title = "Index";
}
<body>
  
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="@Url.Action("Index", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)" class="list-group-item">Data</a>
                    <a href="@Url.Action("MapData", "StudentStage", new { area = "SchoolProfile", sschoolname = "" }, null)" class="list-group-item">Interactive Map</a>
                </div>
            </div>
            <div class="col-md-10">
                <h2>Stage - Primary School (%pupils)</h2>
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"> Please Select Criteria</h4>
                    </div>
                    <div class="panel-body"> 

@if (Model.IsShowCriteria)
{
    using (Html.BeginForm("Index", "StudentStage", new { area = "SchoolProfile" }))
    {
        <table class="table table-bordered">
            <tr>
                <td class="text-left">Select school name </td>
                <td class="text-left">@Html.DropDownListFor(x => x.selectedschoolname, new SelectList(Model.ListSchoolNameData), "---Please Select School---")</td>
                @*<td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>*@
            </tr>

            <tr>
                <td class="text-left">Select Gender</td>
                <td class="text-left">
                    @foreach (var itemGender in Model.ListGenderCode)
                    {
                        if (Model.DicGenderWithSelected.ContainsKey(itemGender))
                        {



                            <input type="checkbox" name="gender" value="@itemGender"
                                   @Model.DicGenderWithSelected[itemGender][1] /> @Model.DicGenderWithSelected[itemGender][0]


                        }
                    }
                    @{
                    var check = "";
                    if (Model.ListSelectedGender != null)
                    {
                        if (Model.ListSelectedGender.Count == 3)
                        {
                            check = "checked";
                        }

                    }
                    else
                    {
                        check = "checked";
                    }
                    }
                    <input type="checkbox" name="CheckGenderAll"
                           value="ALL" id="CheckGenderAll" @check />CheckALL
                </td>
            </tr>

            <tr>
                <td class="text-left">Select Stages </td>
                <td></td>
            </tr>
            @{ 
        foreach (var itemStage in Model.ListStageCode)
        {
            check = "";
            if (Model.ListSelectedStdStage != null)
            {
                if (Model.ListSelectedStdStage.Contains(itemStage))
                {
                    check = "checked";
                }

            }
            else
            {
                check = "checked";
            }

            <tr>
                <td></td>
                <td class="text-left">
                    <input type="checkbox" name="stages" value="@itemStage"
                           @check /> @itemStage
                    </td>
                </tr>
        }
            }
            @*@foreach (var itemStage in Model.ListStageCode)
                {
                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" name="stages" value="@itemStage"
                                   checked="checked" /> @itemStage
                            </td>
                        </tr>
                }*@

            @{
        check = "";
        if (Model.ListSelectedStdStage != null)
        {
            if (Model.ListSelectedStdStage.Count == 7)
            {
                check = "checked";
            }

        }
        else
        {
            check = "checked";
        }
            }


            <tr>
                <td></td>
                <td class="text-left">
                    <input type="checkbox" name="CheckStageAll"
                           value="ALL" id="CheckStageAll" @check />CheckALL
                </td>

            </tr>
        </table>
    <p><button id="buttonGetData" type="submit" class="btn btn-primary">Get Data!</button></p>

    }
                                <!-- Initialize the plugin: -->
    @*<script type="text/javascript">
        $(document).ready(function () {
            //$('#Selectedcheckmodel').multiselect();
            $('#Selectedcheckmodel').multiselect();
            //$('#selectedschoolname').multiselect();
            //selectedschoolname
        });
    </script>*@
}

                    </div>
                </div>
            </div>
        </div> <!--row-->
@if (Model.IsShowData)
{
    <hr>
            <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align: center"> Stage : @Model.selectedschoolname</h4>
                </div>
                <div class="panel-body">

                        <form id="StdStageData">
                            <table id="datatable" class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Stage</th>
                                        @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                        {
                                            foreach (var selection in Model.ListSelectedGender)
                                            {
                                                if (selection.Equals("F"))
                                                {
                                                    <th class="text-center"  colspan="2">Female</th>
                                                }
                                                if (selection.Equals("M"))
                                                {
                                                    <th class="text-center" colspan="2">Male</th>
                                                }
                                                if (selection.Equals("T"))
                                                {
                                                    <th class="text-center" colspan="2">Total</th>
                                                }
                                            }
                                        }
                                        <th rowspan="2">Select data </th>
                                    </tr>
                                    <tr>

                                        @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                        {
                                            foreach (var selection in Model.ListSelectedGender)
                                            {
                                                if (selection.Equals("F"))
                                                {
                                                    <th>@Model.selectedschoolname</th>
                                                    <th>All Primary Schools</th>
                                                }
                                                if (selection.Equals("M"))
                                                {
                                                    <th>@Model.selectedschoolname</th>
                                                    <th>All Primary Schools</th>
                                                }
                                                if (selection.Equals("T"))
                                                {
                                                    <th>@Model.selectedschoolname</th>
                                                    <th>All Primary Schools</th>
                                                }
                                            }
                                        }

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemStdStage in Model.ListStdStageData)
                                    {

                                        <tr>
                                            <td>@itemStdStage.StageCode</td>

                                            @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                            {
                                                foreach (var selection in Model.ListSelectedGender)
                                                {
                                                    if (selection.Equals("F"))
                                                    {
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageFemaleInSchool)</td>
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageFemaleAllSchool)</td>
                                                    }
                                                    if (selection.Equals("M"))
                                                    {
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageMaleInSchool)</td>
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageMaleAllSchool)</td>
                                                    }
                                                    if (selection.Equals("T"))
                                                    {
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageInSchool)</td>
                                                        <td align="center">@String.Format("{0:#,0.00}", @itemStdStage.PercentageAllSchool)</td>
                                                    }
                                                }
                                            }

                                            <td align="center"><input type='checkbox' name='CheckDataitem' value="@itemStdStage.StageCode" checked="checked" /></td>
                                        </tr>
                                    }
                                </tbody>
                                <tr>
                                    @{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}
                                    <td colspan=@colspan></td>
                                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                                </tr>
                                @*<tr><td><button onclick='myFunctionBar()'><label>Bar Chart</label></button></td></tr>
            <tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
            <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>
            <tr><td>@Html.ActionLink("Interactive Map", "MapData", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
                            </table>
                            <ul class="list-inline">
                                <li>
                                    <button class="btn btn-primary" onclick='myFunctionBar()'><label>Bar Chart</label></button>
                                </li>
                                <li>
                                    <button class="btn btn-primary" onclick='myFunctionColumn()'><label>Column Chart</label></button>
                                </li>
                                <li>
                                    @Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile"}, null)
                                </li>
                            </ul>
                            <script type="text/javascript">
                                // Put your javascript code here
                                $('#datatable').DataTable({
                                    paging: false
                                });
                            </script>

                            <div id="divChartContainer"></div>

                            <br>
                        </form>

                </div>
            </div>
        </div>
    </div> <!--row-->
}
    </div> <!--container-->
</body>
