@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.EthnicBackground.EthnicBgViewModel2

@section Header {
    @*<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />*@
    <script src="~/Scripts/jquery.js"></script>
     <!-- Bootstrap Multiselect Plugin -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
          rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    @*<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>*@
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/EthnicBackground/EthnicBackground2.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    
@*<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>*@
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

<link rel="stylesheet" href=" https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href=" https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css" type="text/css" />



}
@{
    ViewBag.Title = "Comparable EthnicBackground";
}

<body>
    @*<script type="text/javascript">
        $(function () {
            var data = "1,2";
            var dataarray = data.split(",");
            $('example-getting-started').val(dataarray)
            $('example-getting-started').multiselect({
                includeSelectAllOption: true
            });
            $("example-getting-started").multiselect("refresh");
        });
    </script>*@
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="@Url.Action("Compareable", "EthnicBackground", new { Area = "SchoolProfile", sSchoolName = "" }, null)" class="list-group-item">Data</a>
                    <a href="@Url.Action("mapdata", "EthnicBackground", new { area="SchoolProfile" , sschoolname="" }, null)" class="list-group-item">Interactive Map</a>
                </div>
            </div>

            <!-- Content Column -->
            <div class="col-md-10">
                <h2>EthnicBackground</h2>
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="text-align: center"> Please Select Criteria</h4>
                    </div>
                    <div class="panel-body">
                            @using (Html.BeginForm("Compareable", "EthnicBackground", new { area = "SchoolProfile" }))
                            {
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="text-left">Select school 1</td>
                                        <td>@Html.DropDownListFor(x => x.selectedschoolname, new SelectList(Model.ListSchoolNameData), "---Please Select School---")</td>
                                        <td class="text-left"> Select school 2</td>
                                        <td>@Html.DropDownListFor(x => x.selectedschoolname2, new SelectList(Model.ListSchoolNameData2), "---Please Select School---")</td>
                                    </tr>
                                    @*<tr>
                                        <td>Select Gender</td>
                                        @*<td>@Html.DropDownListFor(x => x.listSelectedGender, new MultiSelectList(Model.listGender, "id", "fullName"), new { Multiple = "multiple" })</td>*@
                                    @*<td>@Html.DropDownListFor(x => x.listSelectedGender, Model.listGender.Select(x => new SelectListItem { Text = x.fullName, Value = x.id, Selected = x.selected}), new { Multiple = "multiple" })</td>
                                        </tr>*@
                                    <tr>
                                        <td class="text-left">Select Gender</td>
                                        <td colspan="3" class="text-left">
                                            @foreach (var itemGender in Model.ListGenderCode)
                                            {
                                                if (Model.DicGenderWithSelected.ContainsKey(itemGender))
                                                {



                                                    <input type="checkbox" name="gender" value="@itemGender"
                                                           @Model.DicGenderWithSelected[itemGender][1] /> @Model.DicGenderWithSelected[itemGender][0]


                                                }
                                            }
                                            @{
                                            var check = "";
                                            if (Model.ListSelectedGender != null)
                                            {
                                                if (Model.ListSelectedGender.Count == 3)
                                                {
                                                    check = "checked";
                                                }

                                            }
                                            else
                                            {
                                                check = "checked";
                                            }
                                            }
                                            <input type="checkbox" name="CheckGenderAll"
                                                   value="ALL" id="CheckGenderAll" @check />CheckALL
                                    </td></tr>

                                    <tr>
                                        <td class="text-left">Select EthnicBackground</td>
                                        <td colspan="3"> </td>
                                    </tr>
                                    @{
                                foreach (var itemEthnic in Model.ListEthnicCode)
                                {
                                    check = "";

                                    if (Model.ListSelectedEthnicBg != null)
                                    {
                                        if (Model.ListSelectedEthnicBg.Contains(itemEthnic))
                                        {
                                            check = "checked";
                                        }

                                    }
                                    else
                                    {
                                        check = "checked";
                                    }

                                    if (Model.DicEthnicBG.ContainsKey(itemEthnic))
                                    {
                                            <tr>
                                                <td></td>
                                            <td colspan="3" class="text-left">
                                                <input type="checkbox" name="ethnicity" value="@itemEthnic"
                                                       @check /> @Model.DicEthnicBG[itemEthnic]
                                             </td>
                                            </tr>

                                    }
                                }
                                    }
                                    <tr>
                                        <td></td>
                                        <td colspan="3" class="text-left">
                                            @{
                                check = "";
                                if (Model.ListSelectedEthnicBg != null)
                                {
                                    if (Model.ListSelectedEthnicBg.Count == 20)
                                    {
                                        check = "checked";
                                    }

                                }
                                else
                                {
                                    check = "checked";
                                }
                                            }

                                            <input type="checkbox" name="CheckEthnicityAll"
                                                   value="ALL" id="CheckEthnicityAll" @check />CheckALL
                                        </td>

                                    </tr>
                                </table>

                                <p><button id="buttonGetData" type="submit" class="btn btn-primary">Get Data!</button></p>
                            }
                            <!-- Initialize the plugin: -->
                            @*<script type="text/javascript">
                                $(document).ready(function () {
                                    var selectid = @Html.Raw(Json.Encode(Model.listSelectedGender.Select(x=>x.id).ToList()));
                                    alert(selectid);
                                    
                                    $('#listSelectedGender').multiselect({
                                        includeSelectAllOption: true
                                    });
                                    $('#listSelectedGender').multiselect('select', selectid);
                                    $('#listSelectedGender').multiselect('refresh');
                                });
</script>*@
                    </div>
                </div>
            </div>
       </div>
            @if (Model.IsShowData)
            {
                <hr>
    <!-- Content Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="text-align: center">EthnicBackground</h4>
                            </div>
                            <div class="panel-body">
                                    <form id="Ethnicdata">
                                        <table id="datatable" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" rowspan="2">EthnicBackground</th>
                                                    @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                                    {
                                                        var colspanSize = Model.NoSelectedSchool + 1;
                                                        foreach (var selection in Model.ListSelectedGender)
                                                        {
                                                            if (selection.Equals("F"))
                                                            {
                                                                <th class="text-center" colspan=@colspanSize>Female</th>
                                                            }
                                                            if (selection.Equals("M"))
                                                            {
                                                                <th class="text-center" colspan=@colspanSize>Male</th>
                                                            }
                                                            if (selection.Equals("T"))
                                                            {
                                                                <th class="text-center" colspan=@colspanSize> <small>Total</small></th>
                                                            }
                                                        }
                                                    }
                                                    <th class="text-center" rowspan="2">Select data </th>
                                                </tr>
                                                <tr>

                                                    @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                                    {
                                                        var schoolname1 = Model.selectedschoolname;
                                                        var schoolname2 = Model.selectedschoolname2;
                                                        //foreach (var selection in Model.ListSelectedGender)
                                                        for (var i = 0; i < Model.ListSelectedGender.Count; i++)
                                                        {

                                                            if (Model.selectedschoolname.Equals(Model.selectedschoolname2))
                                                            {
                                                                <th>@Model.selectedschoolname</th>
                                                            }
                                                            else
                                                            {
                                                                if (!Model.selectedschoolname.Equals(""))
                                                                {
                                                                    <th>@Model.selectedschoolname</th>
                                                                }
                                                                if (!Model.selectedschoolname2.Equals(""))
                                                                {
                                                                    <th>@Model.selectedschoolname2</th>
                                                                }
                                                            }
                                                            <th>All Primary Schools</th>
                                                        }
                                                    }

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itemEthnic in Model.ListSelectedEthnicBg)
                                                {
                                                    var temp1 = Model.ListEthnicData.Find(x => x.EthinicCode.Equals(Convert.ToString(itemEthnic)));
                                                    var temp2 = Model.ListEthnicData2.Find(x => x.EthinicCode.Equals(Convert.ToString(itemEthnic)));
                                                    var FemaleInSchool1 = 0.0;
                                                    var FemaleInSchool2 = 0.0;
                                                    var FemaleALLSchool = 0.0;
                                                    var MaleInSchool1 = 0.0;
                                                    var MaleInSchool2 = 0.0;
                                                    var MaleALLSchool1 = 0.0;
                                                    var MaleALLSchool2 = 0.0;
                                                    var TotalInSchool1 = 0.0;
                                                    var TotalInSchool2 = 0.0;
                                                    var TotalAllSchool = 0.0;
                                                    // var TotalAllSchool2 = 0.0;

                                                    if (temp1 != null)
                                                    {
                                                        FemaleInSchool1 = temp1.PercentageFemaleInSchool;
                                                        MaleInSchool1 = temp1.PercentageMaleInSchool;
                                                        TotalInSchool1 = temp1.PercentageInSchool;
                                                        TotalAllSchool = temp1.PercentageAllSchool;
                                                        FemaleALLSchool = temp1.PercentageFemaleAllSchool;
                                                        MaleALLSchool1 = temp1.PercentageMaleAllSchool;
                                                    }
                                                    if (temp2 != null)
                                                    {
                                                        FemaleInSchool2 = temp2.PercentageFemaleInSchool;
                                                        MaleInSchool2 = temp2.PercentageMaleInSchool;
                                                        TotalInSchool2 = temp2.PercentageInSchool;
                                                        TotalAllSchool = temp2.PercentageAllSchool;
                                                        FemaleALLSchool = temp2.PercentageFemaleAllSchool;
                                                        MaleALLSchool2 = temp2.PercentageMaleAllSchool;
                                                    }

                                                    <tr>
                                                        <td class="text-left">@Model.DicEthnicBG[itemEthnic]</td>

                                                        @if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                                                        {
                                                            foreach (var selection in Model.ListSelectedGender)
                                                            {
                                                                if (selection.Equals("F"))
                                                                {
                                                                    if (Model.selectedschoolname.Equals(Model.selectedschoolname2))
                                                                    {
                                                                        <td class="text-center">@String.Format("{0:#,0.00}", FemaleInSchool1)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (!Model.selectedschoolname.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", FemaleInSchool1)</td>
                                                                        }
                                                                        if (!Model.selectedschoolname2.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", FemaleInSchool2)</td>
                                                                        }
                                                                    }
                                                                    <td class="text-center">@String.Format("{0:#,0.00}", FemaleALLSchool)</td>
                                                                    @*<td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageFemaleInSchool)</td>
                                                                <td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageFemaleAllSchool)</td>*@
                                                                }
                                                                if (selection.Equals("M"))
                                                                {
                                                                    @*if (!Model.selectedschoolname.Equals(""))
                                                                {
                                                                    <td align="center">@String.Format("{0:#,0.00}", MaleInSchool1)</td>
                                                                }
                                                                if (!Model.selectedschoolname2.Equals(""))
                                                                {
                                                                    <td align="center">@String.Format("{0:#,0.00}", MaleInSchool2)</td>
                                                                }*@
                                                                    if (Model.selectedschoolname.Equals(Model.selectedschoolname2))
                                                                    {
                                                                        <td class="text-center">@String.Format("{0:#,0.00}", MaleInSchool1)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (!Model.selectedschoolname.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", MaleInSchool1)</td>
                                                                        }
                                                                        if (!Model.selectedschoolname2.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", MaleInSchool2)</td>
                                                                        }
                                                                    }
                                                                    <td class="text-center">@String.Format("{0:#,0.00}", MaleALLSchool1)</td>
                                                                    @*<td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageMaleInSchool)</td>
                                                                <td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageMaleAllSchool)</td>*@
                                                                }
                                                                if (selection.Equals("T"))
                                                                {
                                                                    @*if (!Model.selectedschoolname.Equals(""))
                                                                {
                                                                    <td align="center">@String.Format("{0:#,0.00}", TotalInSchool1)</td>
                                                                }
                                                                if (!Model.selectedschoolname2.Equals(""))
                                                                {
                                                                    <td align="center">@String.Format("{0:#,0.00}", TotalInSchool2)</td>
                                                                }*@
                                                                    if (Model.selectedschoolname.Equals(Model.selectedschoolname2))
                                                                    {
                                                                        <td class="text-center">@String.Format("{0:#,0.00}", TotalInSchool1)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (!Model.selectedschoolname.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", TotalInSchool1)</td>
                                                                        }
                                                                        if (!Model.selectedschoolname2.Equals(""))
                                                                        {
                                                                            <td class="text-center">@String.Format("{0:#,0.00}", TotalInSchool2)</td>
                                                                        }
                                                                    }

                                                                    <td class="text-center">@String.Format("{0:#,0.00}", TotalAllSchool)</td>
                                                                    //<td align="center">@String.Format("{0:#,0.00}", TotalAllSchool)</td>
                                                                    @*<td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageInSchool)</td>
                                                                <td align="center">@String.Format("{0:#,0.00}", @itemEthnic.PercentageAllSchool)</td>*@
                                                                }
                                                            }
                                                        }

                                                        <td class="text-center"><input type='checkbox' name='CheckDataitem' value="@itemEthnic" checked="checked" /></td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tr>
                                                @{var colspan = (@Model.ListSelectedGender.Count * @Model.NoSelectedSchool) + @Model.ListSelectedGender.Count + 1;}
                                                <td colspan=@colspan></td>
                                                <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                                            </tr>
                                            @*<tr><td><button onclick='myFunctionBar()'><label>Bar Chart</label></button></td></tr>
                                        <tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                                        <tr><td><button onclick='myFunctionLine()'><label>Line Chart</label></button></td></tr>*@
                                        @*<tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "EthnicBackground", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>
                                        <tr><td>@Html.ActionLink("Interactive Map", "MapData", "EthnicBackground", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
                                        </table>
                                        <ul class="list-inline">
                                            <li>
                                                <button class="btn btn-primary" onclick='myFunctionBar()'><label>Bar Chart</label></button>
                                            </li>
                                            <li>
                                                <button class="btn btn-primary" onclick='myFunctionColumn()'><label>Column Chart</label></button>
                                            </li>
                                            <li>
                                                <button class="btn btn-primary" onclick='myFunctionLine()'><label>Line Chart</label></button>
                                            </li>
                                            @*<li>
                                                @Html.ActionLink("Export Excel", "ExportExcel", "EthnicBackground", new { Area = "SchoolProfile", sSchoolName = "" }, null)
                                            </li>*@
                                        </ul>
                                        <p>
                                            Source: Pupil Census <br> *In 2011 the Scottish Government
                                            introduced a new code list for Ethnicity, hence the historic data is
                                            not comparable
                                        </p>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="text-align: center"> Bar Chart</h4>
                            </div>
                             <div class="panel-body" id="divBarChartContainer"></div>
                        </div>
                    </div>
                </div>
                                <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align: center">Column Chart</h4>
                </div>
                        <div class="panel-body" id="divColumnChartContainer"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 class="panel-title" style="text-align: center"> Line Chart</h4>
                </div>
                        <div class="panel-body" id="divLineChartContainer"></div>
            </div>
        </div>
    </div>
            }
    </div>
</body>
